:root {
    --hover-color: rgba(50, 138, 238, 0.5);
    --selected-color: rgba(238, 225, 50, 0.5);
}

.square {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.square.holder {
    font-size: 2.5vw;
    cursor: pointer;
}

.square.selected {
    background-color: var(--selected-color);
}

.square.holder:not(.selected):hover {
    background-color: var(--hover-color);
}

.number-list {
    display: flex;
    flex-direction: row;
    width: calc(100% / 3);
    margin-top: 2rem;
    justify-content: space-around;
}

.number-list > div {
    cursor: pointer;
    font-size: 4vw;
}

.number-list > div:hover {
    color: var(--hover-color);
}